{% extends 'gestion_activos/base_simple.html' %}
{% load form_extras %}

{% block title %}Nueva Contraseña{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h4 class="mb-3">Establecer nueva contraseña</h4>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.new_password1|add_class:"form-control" }}
      </div>
      <div class="mb-3">
        {{ form.new_password2|add_class:"form-control" }}
      </div>
      <button type="submit" class="btn btn-success">Cambiar contraseña</button>
    </form>
  </div>
</div>
{% endblock %}